<% provide(:title, 'Home') %>

<% if signed_in? %>
	<div class="span9">
		<div class="row">
			<aside class="span4">
				<section>
					<%= render 'shared/user_info' %>
				</section>
			</aside>
			<div class="span4">
				<h3>Recent Activity</h3>
				<ul class="users">
					<% recent = false %>
					<% if current_user.admin? %>
						<% @static_pages.each do |order| %>
							<% if order.created_at.months_since(1) > Time.now %>
								<% recent = true%>
								<li>
									 <%= link_to order.user.name, order.user %>, placed order <%= link_to order.id, order%> -
									<span class="timestamp">
										<%= time_ago_in_words(order.created_at) %> ago.
									</span>
								</li>
							<%end%>
						<% end %>	
						<%= will_paginate %>
					<%elsif current_user.hos?%>
						<%if @orders.count != 0%>
							<% recent = true%>
						<%end%>
						<% @orders.each do |order| %>
							<li>
								 order <%= link_to order.id, order%> - placed by <%= link_to order.user.name, order.user%>
								<span class="timestamp">
									<%= time_ago_in_words(order.created_at) %> ago
								</span>
								needs processing
							</li>
						<% end %>
					<%else%>
						<% @orders.each do |order| %>
							<% if order.created_at.months_since(2) > Time.now %>
								<% recent = true%>
								<li>
									 you placed order <%= link_to order.id, order%> -
									<span class="timestamp">
										<%= time_ago_in_words(order.created_at) %> ago.
									</span>
								</li>
							<%end%>
						<% end %>
					<% end %>
					
					<% if recent != true %>
						<li> You have no Recent Activity.</li>
					<% end %>
				<ul>
			</div>
		</div> 
	</div> 
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to botanaX</h1>
		<h2>
			Do you have a party, event or a store to supply? Get your snacks right here in no time!
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	<%= link_to image_tag("xsoftware_logo.png", alt: "Xtreme Software"), 'http://rubyonrails.org/' %>
<% end %>