<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
table{
  border-collapse:collapse;
}
table tr td{
  border: 1px solid #000;
 }
.head{
  font-weight: bold;
}
</style>
  </head>
  <body>
    <h1>Your order has been succesfully placed</h1>
    <p>
      Your order is being processed by our staff and it will be arriving to its destination between the next 4 business days.
    </p>
    <br />
    <h2>Order id: <%= @order.id %></h2>
    <h2>No. products: <%= @order.number_products %></h2>
    <table> 
      <tr>
        <td class="head">Product: </td>
        <td class="head">Price: </td>
        <td class="head">Quantity: </td>
        <td class="head">Subtotal: </td>
      </tr>

      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td><%= order_detail.product.price %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= order_detail.subtotal %></td>
        </tr>
      <% end %>

      <tr>
      <td>-</td>
      <td>-</td>
      <td class="head">Subtotal</td>
      <td><%= @order.total %></td>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td class="head">Shipping</td>
      <td>$150.00</td>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td class="head">Total</td>
      <td>$<%= @order.total + 150 %></td>
    </tr>
  </table>
    <p>
      To follow your order, or placed another one just follow this link: <%= @url %>.
    </p>

    <p>
      Thanks for using botanaX :)
    </p>
  </body>
</html>