<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
    header#main{
    color: white;
    background: #2C2C2C;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    height:40px;
    display:block;
  }
  h1#logo{
    color:white;
    float:right;
    font-size:22px;
    font-weight:bold;
    letter-spacing: -1px;
    font-family: 'Helvetica Neue', "MS Trebuchet", sans-serif;
    padding-right:15px;
  }
table{
  border-collapse:collapse;
}
table tr td{
  border: 1px solid #000;
 }
.head{
  font-weight: bold;
}
</style>
  </head>
  <body>
    <header id="main"><h1 id="logo">botanaX</h1></header>
    <h1>Your order has been succesfully placed</h1>
    <p>
      Your order is being processed by our staff and it will be arriving to its destination between the next 4 business days.
    </p>
    <br />
    <h2>Order id: <%= @order.id %></h2>
    <h2>No. products: <%= @order.number_products %></h2>
    <table> 
      <tr>
        <td class="head">Product: </td>
        <td class="head">Presentation: </td>
        <td class="head">Price: </td>
        <td class="head">Quantity: </td>
        <td class="head">Subtotal: </td>
      </tr>

      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td><%= order_detail.product.presentation.name %></td>
          <td><%= order_detail.product.price %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= number_to_currency (order_detail.subtotal) %></td>
        </tr>
      <% end %>

      <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td class="head">Subtotal</td>
      <td><%= number_to_currency (@order.total) %></td>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td class="head">Shipping</td>
      <td>$150.00</td>
    </tr>
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td class="head">Total</td>
      <td><%= number_to_currency (@order.total + 150) %></td>
    </tr>
  </table>
    <p>
      To follow your order, or placed another one just follow this link: <%= @url %>.
    </p>

    <p>
      Thanks for using botanaX :)
    </p>
  </body>
</html>