<%= provide(:title, 'New Presentation') %>

<h1>New Presentation </h1>

<div class="row">
  <div class="span6 offset2">
    <%= form_for(@presentation) do |f| %>
	      <%= render 'shared/error_messages', object: f.object %>

		  <%= f.label :name %>
	      <%= f.text_field :name, required: true %>

	      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
		  <%= link_to "Cancel", presentations_path, class: "btn" %>
	<% end %>
  </div>
</div>

<%= link_to "All presentations",   presentations_path %>