<% provide(:title, @user.name) %>
<div class="span7">
	<div class="well catalogsSidebar">
		<div id="userInfo">
			<%= gravatar_for @user %>
        	<h1><%= @user.name %></h1>
    	</div>
   		<div class="sangria">
			<span class="title">Email:</span>
			<span class="value2"><%= @user.email %></span>
			<span class="title">Phone:</span>
			<span class="value2"><%= @user.phone_number %></span>
			<span class="title">Mobile:</span>
			<span class="value2"><%= @user.mobile_phone %></span>
			<span class="title">Address:</span>
			<span class="value2"><%= @user.address %></span>
			<span class="title">Rfc:</span>
			<span class="value2"><%= @user.rfc %></span>
			<span class="title">State:</span>
			<span class="value2"><%= @user.state.name %></span>	
			<span class="title">City:</span>
			<span class="value2"><%= @user.city.name %></span>
		</div>
	</div>
</div>
