<% provide(:title, "Edit state") %> 
<h1>Edit State</h1>

<div class="span6 offset2">
  <%= form_for(@state) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>

</div>