<% provide(:title, 'Orders') %>

	<% if !current_user.admin? %>
		<%= link_to 'Products', products_path, class: 'btn btn-default', style: 'float:left'%>
	<%end%>
	<h1>Orders</h1>
	<% if current_user.admin? || current_user.hos? %>	
		<h3>Number of orders made (<%= @orders.count %>)</h3>
		<table class="table-striped table"> 
			<tr>
				<td>Id</td>
				<td>Date</td>
				<td>User</td>
				<td>State</td>
				<td>City</td>
				<td>No. of Products</td>
				<td>Total</td>
				<td>Status</td>
			</tr>
			<%= render @orders %>
		</table>
	<%else%>
		<% if current_user.orders.any? %>	
			<h3>Number of orders made (<%= current_user.orders.count %>)</h3>
			<table class="table-striped table"> 
				<tr>
					<td>Date</td>
					<td>No. of Products</td>
					<td>Total</td>
					<td>Status</td>
				</tr>
				<%= render @orders %>
			</table>
		<%else%>
			<h5><p>You haven't made any order.</p></h5>
		<%end%>
	<%end%>
