<tr>
	<td><h4><%= link_to route_detail.order.user.name, route_detail.order.user %></h4></td>
	<td><h4><%= link_to route_detail.order.user.state.name, route_detail.order.user.state %></h4></td>
	<td><h4><%= link_to route_detail.order.user.city.name, route_detail.order.user.city %></h4></td>
	<td><h4><%= route_detail.order.user.address %></h4></td>
	<td><h4><%= link_to route_detail.order.number_products, route_detail.order %></h4></td>
	<td><h4><%= route_detail.order.total %></h4></td>
	<td><%= link_to 'Delete', route_detail, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'%></td>
</tr>