<% provide(:title, 'All Lots') %>

<%= link_to '+ Add', 'lots/new', class: 'btn btn-success', style: 'float:left'%>
<h1>All Lots</h1>

<%= will_paginate %>
	<table class='table-striped table'>  
		 <tr>
			<th>Name</th>
		    <th>Expiry Date</th>
		    <th>No. products</th>
		    <th></th>
			<th></th>   
		 </tr>

		<% @lots.each do |lot| %>

		<tr>
			<td><h4><%= link_to lot.number, lot%></h4></td>	
			<td><h4><%= lot.products.count%></h4></td>	
			<td><h4><%= lot.expiry_date %></h4></td>
			<td><%= link_to 'Show', lot, class: 'btn btn-small btn-primary' %></td>
			<td><%= link_to 'Delete', lot, method: :delete, confirm: 'Are you sure?', class: 'btn btn-small btn-danger'%></td>
		</tr>
	 	<% end %>

	</table>  
	<br />

<%= will_paginate %>


