<% provide(:title, 'Routes') %>
<div class='span9'>
	<% if current_user.hos? %>
		<%= link_to '+ Add', 'routes/new', class: 'btn btn-success', style: 'float:left'%>
	<%end%>
	<h1>Routes</h1>	
		<h3>Number of routes available (<%= @routes.count %>)</h3>
		<%= will_paginate %>
		<table class="table-striped table"> 
			<tr>
				<td>Route no.</td>
				<td>Vendor</td>
				<td>Status</td>
				<td></td>
				<% if current_user.hos? %>
					<td></td>
				<%end%>
			</tr>
			<%= render @routes %>
		</table>
		<%= will_paginate %>
</div>