<% provide(:title, @route.id) %>
	<h1>Order <%= @route.id  %></h1>
	<ul data-role="listview" data-theme="c">
		<li data-role="list-divider"></li>
		<h2>Stops (<%= @route.route_details.count %>)</h2>
		<% @route_details.each do |route_detail| %>
			<li class="swipe">
				<%= link_to(route_detail.order, :data => { :transition => 'slide' }) do %>
					<%= route_detail.order.user.name %><br />
					<%= "#{route_detail.order.user.state.name} - #{route_detail.order.user.city.name}"%><br />
					<%= route_detail.order.user.address %><br />
					<%= "#{route_detail.order.number_products} - #{number_to_currency (route_detail.order.total)}" %><br />
					<%= route_detail.order.status%>
				<% end %>		
			</li>
		<% end %>
	</ul>