<% provide(:title, "Edit category") %> 
<div class="span9">
<h1>Edit Category</h1>

<div class="row offset2">
  <%= form_for(@category) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

</div>
<%= link_to "All categories",   categories_path %>
</div>