<table class="table-striped table">  
	<tr>
		<th>-</th>
		<th>Name</th>
		<th>Category</th>
		<th>Present.</th>
		<th>Price</th>
		<th>Description</th>
		<th></th>
		<% if current_user.admin?%>
			<th></th>
			<th></th>
		<%end%>
	 </tr>

	<% @products.each do |product| %>
		<% name = product.name.delete(' ').downcase + "Small.png" %>
		
		<tr>
		  <td><%= link_to image_tag(name, alt: "@product.name"), product, class: "productPictureIndex" %></td>
		  <td><h4><%= link_to product.name, product%> </h4></td>
		  <td><h4><%=link_to product.category.name, product.category %></h4></td>
		  <td><h4><%=link_to product.presentation.name, product.presentation %></h4></td>
		  <td><h4><%= number_to_currency (product.price) %></h4></td>
		  <td class="productDescription"><%= product.description%></td>
		  <td><%= link_to 'Show', product, class: 'btn btn-small btn-primary' %></td>
		  <% if current_user.admin?%>
		  	<td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-small btn-warning'%></td>
		  	<td><%= link_to 'Delete', product, method: :delete, confirm: 'Are you sure?', class: 'btn btn-small btn-danger'%></td>
		  <% end %>
		</tr>
	<% end %>
</table>  
	<br />
 

