<% provide(:title, @product.name) %>
<div class="span9">
	<h1>
	    <%= @product.name %>
	</h1>
	<div class="span5" id="productPicture">
		<!-- Product picture here-->
		<% name = @product.name.delete(' ').downcase + ".png" %>
		<%= link_to image_tag(name, alt: "@product.name"), "/app/assets/images/#{name}", class: "productPicture" %>
	</div>

	<div class="span3">
		<span class="title">Category:</span>		
		<span class="value"><%= link_to @product.category.name, @product.category %></span>
		<span class="title">Price:</span>
		<span class="value"><%= number_to_currency (@product.price) %></span>
		<span class="title">Presentation:</span>
		<span class="value"><%= number_to_currency (@product.presentation.name) %></span>
		<span class="title">Lot:</span>
		<span class="value"><%= link_to @product.lot.number, @product.lot %></span>
		<span class="title">Quantity:</span>
		<span class="value"><%= @product.quantity %></span>
		<span class="title">Description:</span>
		<span class="value"><%= @product.description %></span>
		<% if current_user.admin?%>
			<div class="well catalogsSidebar">
				<ul>
		  			<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning'%>
		  		</ul>
				<ul>
		  			<%= link_to 'Delete', @product, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'%>
				</ul>
			</div>	
		<%else%>
			<div class="well catalogsSidebar add_form">
				<% if @product.quantity == 0%>
					<%= label :post, :title, 'Sorry there are no more items available in stock :(', class: 'sorryNoStock' %>
				<%else%>
					<%= form_for(@cart_product, remote: true) do |f| %>
						<%= f.hidden_field :product_id, :value => @product.id %>
		  				<%= f.hidden_field :price, :value => @product.price %>
						<ul>
		  					<%= f.label :quantity %>
						</ul>
						<ul>
							<%= select("cart_product", "quantity", (1..@product.quantity).step(1).collect {|p| [ "#{p}", p ] }, { include_blank: true }, class: 'cmb_quantity', id: "cart_product_quantity") %>
						</ul>
						<%= f.submit '+ Add to cart', class: 'btn btn-success', id: "addToCart"%>
					<% end %>
				<%end%> 
			</div>
		<%end%>
	</div>
</div>
	
<%= link_to "All products",   products_path %>



