<% provide(:title, @product.name) %>
<div class="span10">
   
	<div class="span4">
		
	     <h1>
	       <%= @product.name %>
	     </h1>
		<h3><%= @product.category.name %></h3>
		<h3>$<%= @product.price %></h3>
		<h3><%= @product.lot %></h3>
		<h3><%= @product.description %></h3>
    </div>

<% if current_user.admin?%>

	<div class="span4">	
		<ul>
		  	<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning'%>
		  </ul>
		<ul>
		  	<%= link_to 'Delete', @product, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'%>
		</ul>
	</div>

<%else%>
	<div class="span3">	
	<div class="well catalogsSidebar">
		<ul>
		   <h4>Quantity</h4>
		</ul> 
		<ul> 
		<%= select("sale", "discount", (1..100).step(1).collect {|p| [ "#{p}", p ] }, { :include_blank => true }, class: 'cmb_quantity') %>
		</ul>
		<%= link_to '+ Add to cart', '#', class: 'btn btn-success'%>		 
	</div>
	</div>
<%end%>
</div>
<%= link_to "All products",   products_path %>