<% provide(:title, @product.name) %>
<div class="span7">
<div class="span7">
   
	<div class="span5">
		
	     <h1>
	       <%= @product.name %>
	     </h1>
	
	<div class="row-fluid">
		<div class="span5">
			<h2>Category:</h2>
		</div>
		<div class="span6">
			<h3><%= link_to @product.category.name, @product.category %></h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<h2>Price:</h2>
		</div>
		<div class="span6">
			<h3><%= @product.price %></h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<h2>Lot:</h2>
		</div>
		<div class="span6">
			<h3><%= link_to @product.lot.number, @product.lot %></h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<h2>Quantity:</h2>
		</div>
		<div class="span7">
			<h3><%= @product.quantity %></h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span5">
			<h2>Description:</h2>
		</div>
		<div class="span7">
			<h3><%= @product.description %></h3>
		</div>
	</div>
    </div>

<% if current_user.admin?%>
	
		<ul>
		  	<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning'%>
		  </ul>
		<ul>
		  	<%= link_to 'Delete', @product, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'%>
		</ul>

<%else%>
	<div class="span3">	
	<div class="well catalogsSidebar add_form">
		<%= form_for(:cart_product, :url => cart_products_path, remote: true) do |f| %>
			  <%= f.hidden_field :product_id, :value => @product.id %>
			  <%= f.hidden_field :price, :value => @product.price %>
			<ul>
			  <%= f.label :quantity %>
			</ul>
			<ul>
		      <%= select("cart_product", "quantity", (1..100).step(1).collect {|p| [ "#{p}", p ] }, { include_blank: true }, class: 'cmb_quantity') %>
			</ul>

		      <%= f.submit '+ Add to cart', class: 'btn btn-success'%>
		<% end %>		 
	</div>
	</div>
<%end%>
</div>
<%= link_to "All products",   products_path %>
</div>



