<div class="well catalogsSidebar">
	<ul class="nav nav-list">
	<% if current_user.admin? %>
		<li class="nav-header">
	    	<h4>Catalogs</h4>
	  	</li>  
		<li>
    		<%= link_to "Products", products_path %>
  		</li>
		<li>
    		<%= link_to "Categories", categories_path %>
  		</li>
  		<li>
    		<%= link_to "States", states_path %>
  		</li>
		<li>
    		<%= link_to "Cities", cities_path %>
  		</li>
		<li>
    		<%= link_to "Lots", lots_path %>
  		</li>
		<li>
    		<%= link_to "Present.", presentations_path %>
  		</li>
		<li>
    		<%= link_to "Routes", '#' %>
  		</li>
	<%else%>
		<li class="nav-header">
	    	<h4>Go to</h4>
	  	</li>  
  		<li>
    		<%= link_to "Cart", cart_path %>
  		</li>
		<li>
    		<%= link_to "Products", products_path %>
  		</li>
	<%end%>
	</ul>
</div>