<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
	<link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    	<div id="flash_notice"></div>
		<% flash.each do |key, value| %>
		        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
	<% if signed_in? %>
		<div class="span9 main">
			<%= yield %>
		</div>
		<div class="span2">
			<%= render 'layouts/catalogs' %>
		</div>
	<%else%>
		<div class="span12 main">
			<%= yield %>
		</div>
	<%end%>
	<div class="span12">
		<%= render 'layouts/footer' %>
	</div>
 	  <%= debug(params) if Rails.env.development? %>
    </div>
	<%= javascript_include_tag "application" %>
	<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
  </body>
</html>